* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
    background-image: url('hatter.png');
    background-size: cover;
    background-attachment: fixed;
}

nav{
    height: 8vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(55,6,6,1) 30%, rgba(187,10,10,1) 100%);
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.nav-links li a:hover{
    color: red;
    background-color: #000;
    border: 2px solid #000;
    padding: 14px 40px;
    transition: 0,25s;
    border-radius: 24px;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 25%;
}
.landing img{
    width: 128px;
    height: 128px;
}
.landing h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.landing h4{
    color: #c7c4c5;
    text-transform: uppercase;
}
.landing input[type = "button"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}
.landing input[type = "button"]:hover{
    background: #000;
}
.landing2 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 25%;
}
.landing2 h1{
    color: white;
    text-transform: uppercase;
}
.landing2 img {
    display: block;
}
.landing2 p{
    color: #ffffff;
    text-align: left;
    background-color: #333;
}
.landing3 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 25%;
}
.landing3 img{
    width: 256px;
    height: 256px;
}
.landing3 h1{
    color: #ffffff;
}
.landing4 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clip-path: fill-box;
}
.landing4 h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border:0;
    background: #000;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}
.landing5 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 25%;
}
.landing5 img{
    width: 256px;
    height: 256px;
}
.landing5 h1{
    color: #ffffff;
}

@media screen and (max-width: 768px){

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: rgba(55,6,6,1);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1400px at 90% -10%);
        -webkit-clip-path: circle(1400px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 1.0s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 1.2s;
    }
    li.fade{
        opacity: 1;
    }
    .landing3 {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 25%;
    }
    .landing3 img{
        width: 256px;
        height: 256px;
    }
    .landing2 {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 25%;
    }
    .landing2 h1{
        color: white;
        text-transform: uppercase;
    }
    .landing2 img {
        width: 100%;
        height: 45%;
    }
    .landing2 p{
        color: #d9be11;
        text-align: center;    
    }
    .logo img{
        display: none;
    }
}